/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  max-width: 1800px !important;
}
.backgrounds {
  background-image: -webkit-gradient(linear,left top, left bottom,from(#292828),to(#fffffe));
  background-image: -o-linear-gradient(top,#292828,#fffffe);
  background-image: linear-gradient(to bottom,#292828,#fffffe);
}
.email-address {
  color: white;
  margin: 0 2px;
}
.fs {
  color: #2474ca;
  
}
.search-header{
  margin: 0px auto !important;
  max-height: 270px;
}
.background-search{
  background-image: -webkit-gradient(linear,left top, left bottom,from(#051322),to(#15457c));
  background-image: -o-linear-gradient(top,#051322,#15457c);
  background-image: linear-gradient(to bottom,#051322,#15457c);
  height: 500px;
  padding: 100px 0;
  
}
hr {
  margin: 5px auto;
}
.btn-custom{
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 45px;
  background-image: -webkit-gradient(linear,left top, left bottom,from(#1a36538c),to(#15457c));
  background-image: -o-linear-gradient(top,#1a36538c,#15457c);
  background-image: linear-gradient(to bottom,#1a36538c,#15457c);
  border-radius: 25px;
  border: none;
  position: absolute;
  top: 250px;
  left: 420px;
}
 .card {
     margin: 150px auto;
     -webkit-box-shadow: 1px 2px 5px 2px rgb(131, 128, 128);
             box-shadow: 1px 2px 5px 2px rgb(131, 128, 128);
     border-radius: 10px;
 }
.search-trips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}

.search-fields {
  padding: 18px 25px;
  min-width: 250px;
}


.refact {
    display: block;
    margin: 100px auto;
    -webkit-box-shadow: 2px 2px 5px 1px rgb(90, 87, 87);
            box-shadow: 2px 2px 5px 1px rgb(90, 87, 87);
    border-radius: 10px;
}

.user-card{
    margin: 10px auto;
    background: rgba(255, 251, 251, 0.616);
    -webkit-box-shadow: 1px 2px 6px rgb(231, 243, 216);
            box-shadow: 1px 2px 6px rgb(231, 243, 216);
}

.trip-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /* html {
    font-size: 16px;
  } */
  
  .plane {
    margin: 20px auto;
    max-width: 350px;
    /* padding: 0 10px !important; */
  }
  
  .cockpit {
    height: 250px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #d8d8d8;
  }
  .cockpit:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    border-radius: 50%;
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }
  .cockpit h1 {
    width: 60%;
    margin: 100px auto 35px auto;
  }
  
  .exit {
    position: relative;
    height: 50px;
  }
  .exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color: white;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .exit:before {
    left: 0;
  }
  .exit:after {
    right: 0;
  }
  
  .fuselage {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }
  
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .seats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 371px;
  }
    
  .seat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10.28571428571429%;
            flex: 0 0 10.28571428571429%;
    padding: 5px;
    position: relative;
    height: 50px;
    width: 70px;
  }
  .seat:nth-child(3) {
    margin-right: 14.28571428571429%;
  }
  .seat input[type=radio] {
    position: absolute;
    opacity: 0;
  }
  .seat input[type='radio']:checked + label {
    
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .seat input[type=radio]:disabled + label {
    background: #dddddd;
    /* text-indent: -9999px; */
    overflow: hidden;
  }
  .seat input[type=radio]:disabled + label:after {
    content: "";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .seat input[type=radio]:disabled + label:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: not-allowed;
  }
  .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 2px;
    
    border-radius: 5px;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .eco label{
    background: rgba(120, 231, 194, 0.74);
  }
  .eco label:hover{
    -webkit-box-shadow: 0 0 0px 2px rgba(120, 231, 194, 0.356);
            box-shadow: 0 0 0px 2px rgba(120, 231, 194, 0.356);
  }
  .eco input[type='radio']:checked + label{
    background: rgb(0, 255, 170);;
  }
  .pre label{
    background: rgba(134, 233, 240, 0.692);
  }
  .pre label:hover{
    -webkit-box-shadow: 0 0 0px 2px rgba(18, 232, 247, 0.589);
            box-shadow: 0 0 0px 2px rgba(18, 232, 247, 0.589);
  }
  .pre input[type='radio']:checked + label{
    background: rgb(0, 238, 255);
  }
  .bus label{
    background: rgba(240, 144, 144, 0.692);
  }
  .bus label:hover{
    -webkit-box-shadow: 0 0 0px 2px rgba(240, 144, 144, 0.274);
            box-shadow: 0 0 0px 2px rgba(240, 144, 144, 0.274);
  }
  .bus input[type='radio']:checked + label{
    background: rgb(240, 76, 76);
  }
  .seat label:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
  }
  .seat label:hover {
    cursor: pointer;
  }
  
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
.ticket-detail {
  z-index: 10;
  -webkit-box-shadow: 1px 1px 1px rgb(131, 128, 128);
          box-shadow: 1px 1px 1px rgb(131, 128, 128);
  padding: 10px;
  /* display: inline-block; */
}
.seat-map {
  display: inline-block;
  margin: 10px 200px;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 4px 2px rgb(90, 87, 87);
          box-shadow: 0px 2px 4px 2px rgb(90, 87, 87);
  border-radius: 10px;
  min-width: 700px;
}
.passenger-info {
  position: fixed;
  top: 400px;
  right: 450px;
  min-width: 400px;
  min-height: 300px;
  padding: 10px 50px;
  -webkit-box-shadow: 0px 2px 4px 2px rgb(90, 87, 87);
          box-shadow: 0px 2px 4px 2px rgb(90, 87, 87);
  border-radius: 10px;
}
.aero-detail {
  max-width: 500px !important;
  -webkit-box-shadow: 0px 2px 4px 2px rgb(90, 87, 87);
          box-shadow: 0px 2px 4px 2px rgb(90, 87, 87);
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-ticket {
  position: absolute;
  top: 100px;
  left: 500px;
  padding: 20px;
  background-image: -webkit-gradient(linear,left top, left bottom,from(#eee8e8),to(#4b4848));
  background-image: -o-linear-gradient(top,#eee8e8,#4b4848);
  background-image: linear-gradient(to bottom,#eee8e8,#4b4848);

}
.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.map {
	margin: 58px auto;	
	height: 800px;
  width: 1000px;
  background-color: #eee8e8;	
}
.map img {
	height: 800px;
	width: 1000px;
	opacity: 0.4;
	position: relative;
}
.background {
	margin: 10px auto;
	width: 500px;
	height: 500px;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#c56d6d),to(#15457c));
	background-image: -o-linear-gradient(top,#c56d6d,#15457c);
	background-image: linear-gradient(to bottom,#c56d6d,#15457c);	
	position: absolute;
	top: 258px;
	left: 720px;
}
.ticket-sheet{
	margin-top: 72px;
	margin-left: -50px;
	position: relative;
	width: 600px;
  background: white;
  color: #555657;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 2px rgb(245, 201, 201);
          box-shadow: 0px 2px 4px 2px rgb(245, 201, 201);
}
.ticket-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ticket-row img{
	height: 50px;
	width: 50px;
}
.opp {
  width: 120px;
  margin-left: -62px;
}
.ag{
  width: 120px;
  margin-right: -71px;
}
.ticket-table-row{
  padding: 0 40px;
  color: grey !important;
}
.btn-update {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 35px;
  background-image: -webkit-gradient(linear,left top, left bottom,from(#15457c),to(#c56d6d94));
  background-image: -o-linear-gradient(top,#15457c,#c56d6d94);
  background-image: linear-gradient(to bottom,#15457c,#c56d6d94);
  border-radius: 25px;
  border: none;
  position: absolute;
  left: 450px;
  bottom: -20px;
  
}
.pnr {
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -38px;
  bottom: 130px;
  color: #351818;
}
.page-not-found {
  margin: 200px auto;
  width: 700px;
  height: 500px;  
  background-image: -webkit-gradient(linear,left top, left bottom,from(#15457c),to(#c56d6d94));  
  background-image: -o-linear-gradient(top,#15457c,#c56d6d94);  
  background-image: linear-gradient(to bottom,#15457c,#c56d6d94);
  -webkit-box-shadow: 0px 2px 4px 2px rgb(245, 201, 201);
          box-shadow: 0px 2px 4px 2px rgb(245, 201, 201);
}
.seat_warning{
  color: yellow;
}
.hurry {
  color: red;
}